
@{
    ViewBag.Title = "Nosotros";
}
<div class="container">
    <h2>Nosotros</h2>
    <p><b>Antecedentes:</b></p>
    <p>
        En el año de 1985 la empresa Legatek se funda en la Ciudad de Monterrey. En el año 1992 a través de una alianza comercial con
        Publicaciones Electrónicas de México, S.A de C.V. (PEMSA), la empresa abrió paso a la Informática Jurídica en nuestro país,
        desarrollando el proyecto original de digitalización del Diario Oficial de la Federación, además de ser los primeros en iniciar
        el concepto de la Compilación Jurídica Mexicana.
    </p>
    <br />
    <p><b>Actualmente: </b></p>
    <p>En el año 2007 Legatek pasa a formar parte de la Empresa Leginfor Technology S.A. de C.V., manteniendo los mismos objetivos y filosofía.<p>
    <p>Actualmente Leginfor Technology es una empresa con capital 100% Mexicano y cuenta con una amplia experiencia tecnológica en el manejo de información selectiva. </p>
    <br />
    <p><b>Misión: </b></p>
    <p>
        La misión de la empresa es construir herramientas que ayuden a integrar la información Lega-Jurídica de nuestro país, con la finalidad de optimizar tiempos y costos
        para cada uno de sus suscriptores.
    </p>
    <br /><br />
</div>
