
@{
    ViewBag.Title = "Productos";
}
<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#DOF">Diario Oficial de la Federación</a></li>
        <li><a data-toggle="tab" href="#Compilacion">Compilación Jurídica</a></li>
        <li><a data-toggle="tab" href="#Legal">LegaFiscal</a></li>
        <li><a data-toggle="tab" href="#Comercio">Comercio Exterior</a></li>
        <li><a data-toggle="tab" href="#Norma">Norma Eléctrica</a></li>
    </ul>
    <br />
    <div class="tab-content">
        <div id="DOF" class="tab-pane fade in active">
            <h5>Diario Oficial de la Federación (DOF)</h5>
            <p>Es el periódico oficial del Gobierno Constitucional de México. Su función es la publicación de ordenamientos 
            (leyes, reglamentos, códigos, constitución, misceláneas, acuerdos, circulares, órdenes y demás tipos de ordenamientos) 
            expedidos por los poderes de la Federación, a fin de que éstos sean observados y aplicados debidamente en sus respectivos 
            ámbitos de competencia en el territorio nacional. El Diario Oficial de la Federación (DOF) es expedido de lunes a viernes 
            por la Secretaría de Gobernación.</p>
            <p>Nosotros somos distribuidores oficiales del DOF de forma digitalizada, contamos con índices a partir de 1917; así como 
            textos completos desde 1968 a la fecha. Además de contar con una hemeroteca con los diarios impresos (en papel) desde 1905
             hasta la fecha para su consulta.</p>
            <p>Contamos con dos formas de entregables; mediante DVD trimestral (y un DVD al término del año) y a través de nuestros sitios
             web (www.leginfor.com, www.leginfor.com.mx , www.legatek.com , www.legatek.com.mx) las 24 horas del día, los 7 días de la semana,
             los 365 días del año. En este formato (internet) el DOF del día puede ser consultado a partir de las 7 AM. Para cada una de las 
            dos formas las suscripciones son anuales.</p>
            <p>Por ser los pioneros en la distribución del DOF, contamos con la experiencia y confiabilidad de brindar herramientas en las dos
             formas de entregables (DVD o internet), como lo son buscadores muy robustos y de fácil uso, para la localización de la información
             que se requiera en cuestión de segundos. La información se puede consultar en formatos Word, HTML y/o PDF.<br /><br /><br /><br /></p>
        </div>
        <div id="Compilacion" class="tab-pane fade">
            <h5>Compilación Jurídica</h5>
            <p>Producto que contiene los ordenamientos más importantes publicados en el Diario Oficial de la Federación así como en los periódicos oficiales
             de los 31 estados y el DF; también incluye las jurisprudencias que se publican en el Tribunal Superior de Justicia y la Suprema Corte de Justicia
             de la Nación; debido a esto  se divide en tres ámbitos, los cuales son Federal, Estatal y Jurisprudencias.</p>
            <p><b>FEDERAL:</b>  Este ámbito contiene alrededor de 1500 ordenamientos; de los cuales se clasifican por tipo de ordenamiento; es decir contamos 
            con todos los ordenamientos de tipo Leyes, Códigos, Reglamentos, Constitución, Misceláneas, Manuales, Programas y Estatutos, tanto vigentes como 
            derogados. Mantenemos una cronología (historia) desde 2002 a la fecha para cada uno de los 1500 ordenamientos que han sufrido reformas (actualizaciones).
             Además de incluir los formatos de contratos más importantes en materia civil, administrativa, mercantil y laboral. Las actualizaciones son diarias o 
            dependiendo de la cantidad de información a actualizar; pero no mayor a un plazo de 7 días hábiles.</p>
            <p><b>ESTATAL:</b>  Este ámbito contiene ordenamientos de  todos los estados y DF de la República Mexicana, actualizadas conforme a los periódicos oficiales de cada estado.
            Incluimos cerca de 6000 ordenamientos,  de los cuales se clasifican por tipo de ordenamiento; es decir contamos con todos los ordenamientos de tipo Leyes, Códigos, 
            Reglamentos, Constitución, Presupuestos, Estatutos, Acuerdos y Aranceles entre otros, tanto vigentes como derogados.
            Las actualizaciones se realizan dentro de los 15 días hábiles a su publicación.</p>
            <p><b>JURISPRUDENCIAS:</b>  Son todos aquellos pronunciamientos que hacen los jueces para resolver los casos que se le presentan ante el Pleno y Salas de la 
            Suprema Corte de Justicia de la Nación y ante los Tribunales Colegiados de Circuito.
            Estos son publicados en el Semanario Judicial de la Federación y su Gaceta así como en la Revista del Tribunal de Justicia Fiscal y Administrativa respectivamente
             donde señala rubro, texto y precedentes de cada situación.
            Contamos con las jurisprudencias del Tribunal Superior de Justicia desde 1937 a la fecha; y de la SCJN desde la quinta época hasta la actual (décima época).
            Las nuevas jurisprudencias las tenemos en línea un mes después de su revisión y publicación.</p>
            <p>Las dos formas de entregables; son mediante DVD trimestral (y un DVD al término del año) y/o a través 
            de nuestros sitios web (www.leginfor.com, www.leginfor.com.mx , www.legatek.com , www.legatek.com.mx) las 24 horas del día, los 7 días de la semana, los 365
             días del año. Para cada una de las dos formas las suscripciones son anuales.</p>
            <p>Contamos en cada una de nuestras dos formas de entregables, buscadores robustos y fáciles de manejar para optimizar los tiempos de búsqueda de la información.</p>
            <br /><br /><br /><br />
        </div>
        <div id="Legal" class="tab-pane fade">
            <h5>LegaFiscal</h5>
            <p>
                Este producto está enfocado a la materia Fiscal, ya que contiene misceláneas, ordenamientos, jurisprudencias, criterios normativos, todos  de carácter fiscal,
                de acuerdo a la interacción con otras materias, se adiciona en este producto los ordenamientos más importantes en materia Laboral, Seguridad Social, Comercio Exterior,
                Financieras y otras importantes; para ofrecer un producto integral. En total son un compendio de 120 ordenamientos del ámbito Federal como algunos del Distrito Federal.
                Contiene correlaciones párrafo por párrafo con otros ordenamientos. Permite navegar artículo por artículo en cada uno de los ordenamientos. Actualización diaria y consulta
                las 24 horas; es la única obra que le permite consultar la fuente de información original para los Artículos Reformados y Adicionados, debido a que contiene la liga al
                Diario Oficial de la Federación, así como una fácil identificación del elemento reformado.
            </p>
             <p>La suscripción es anual; y la forma de entrega es a través de nuestros sitios web (www.leginfor.com, www.leginfor.com.mx , www.legatek.com , www.legatek.com.mx) las
             24 horas del día, los 7 días de la semana, los 365 días del año.</p>
            <br /><br /><br /><br />
        </div>
        <div id="Comercio" class="tab-pane fade">
            <h5>Comercio Exterior</h5>
            <p>Este producto contiene todo lo relacionado al comercio internacional, tratados comerciales internacionales, acuerdos con demás países importadores y exportadores, etc. 
            Se divide en dos ramas: la legislación que es todo lo relacionado legalmente al comercio exterior y las tarifas arancelarias que nos indican los pagos por las importaciones
             y exportaciones. Estas tarifas pueden ser consultadas por su código o por su descripción. Contiene su legislación o marco jurídico, mostrando las leyes y reglamentos más
             importantes que afectan al Comercio Exterior., contiene todos los acuerdos internacionales, El tratado de libre comercio con América del Norte y sus reformas, acuerdos, etc. </p>
            <p>Entre sus leyes importantes están la Ley aduanera y su reglamento, leyes a los impuestos, ley de comercio exterior. </p>
            <p>Las dos formas de entregables; son mediante DVD trimestral (y un DVD al término del año) y/o a través de nuestros sitios web (www.leginfor.com, 
            www.leginfor.com.mx , www.legatek.com , www.legatek.com.mx) todos los días, los 7 días de la semana, los 365 días del año. Para cada una de las dos formas las suscripciones 
            son anuales. </p>
            <p>Contamos en cada una de nuestras dos formas de entregables, buscadores robustos y fáciles de manejar para optimizar los tiempos de búsqueda de la información. </p>
            <br /><br /><br /><br />
        </div>
        <div id="Norma" class="tab-pane fade">
            <h5>Norma Eléctrica</h5>
            <p>Es la norma que establece las especificaciones y lineamientos de carácter técnico que deben satisfacer las instalaciones destinadas a la utilización de la energía eléctrica,
             a fin de que se ofrezcan las condiciones adecuadas de seguridad para las personas y sus propiedades. Esta norma por lo regular se reforma (con una nueva) cada seis años. La 
            forma de entrega es a través de un CD-ROM, en donde se provee de hipervínculos para la interacción con otros artículos de la norma, así como de un robusto buscador. Para cualquier
             actualización que exista en el año de la adquisición del producto; se proporciona una clave de acceso web para poder consultar dichas reformas. </p>
            <br /><br /><br /><br />
        </div>
    </div>
</div>